Account holders:
<br/>
<for each="i from 0 to params.holders.length-1">
    <br/><a id="${i+1}" href="menu/account/removeHolder/pin?account=${i}">${i+1}. ${params.holders[i].name}</a>
</for>
<br/>
<br/><a id="0" href="menu/home">0. Home</a>
