Add ${params.add.firstName} ${params.add.lastName} as account holder.
<br/>Should this holder be signatory for the account?<br/>
<br/><a id="2" href="../pin?isSignatory=1">2. Yes</a>
<br/><a id="3" href="../pin?isSignatory=0">3. No</a>
<br/><br/><a id="0" href="menu/home">0. Main Menu</a>
<br/><a id="1" href="back">1. Back</a>