<if test="!params.pendingTransactions">
    No pending transactions found!
</if>
<else>
    Pending Transactions<br/>
    <for each="i from 0 to params.pendingTransactions.length-1">
        <br/><a id="${i+1}" href="../details?invoiceNotificationId=${params.pendingTransactions[i].invoiceNotificationId}">${i+1}. ${params.pendingTransactions[i].memo}</a>
    </for>
</else>