Destination name: ${params.destinationName}<br/>
Amount: ${params.destinationAmount} ${params.destinationCurrency}<br/>
Fee: ${params.fee}<br/>
<a id="*" href="../execute">Enter PIN to confirm</a><br/>
<br/>
<a id="0" href="menu/home">0. Main menu</a><br/>
<a id="1" href="../amount">1. Back</a><br/>