Enter PIN of ${params.userToAdd.firstName + ' ' + params.userToAdd.lastName} to confirm:
<a id="*" href="../execute?checkPin=1"></a>
<br/>
<br/><a id="0" href="menu/home">0. Home</a>
<br/><a id="1" href="../confirmUser">1. Back</a>