<if test="params.user.accounts.length === 1">
    You don't have any other account to switch to
</if>
<else>
    Current account name: ${params.user.sourceAccountName}
    <br/><br/>Select Account:
    <for each="i from 0 to params.user.availableAccounts.length-1">
        <br/><a id="${i+1}" href="menu/home?accountNumber=${params.user.availableAccounts[i].accountNumber}">${i+1}. ${params.user.availableAccounts[i].name}</a>
    </for>
</else>
<br/><br/><a id="0" href="menu/home">0. Home</a>
