Cash in successful !
<br/><br/>Status: ${params.cashin.status}
<br/>Destination: ${params.cashin.destinationName}
<br/>Amount: ${params.cashin.destinationAmount} ${params.cashin.destinationCurrency}
<br/>Local fee: ${params.cashin.fee}
<br/>ID: ${params.cashin.fulfillment}
<br/><a id="0" href="menu/home">0. Home</a>
