Invoice paid!
<br/><br/>Status: ${params.pendingTransaction.status}
<br/>Amount: ${params.pendingTransaction.amount} ${params.pendingTransaction.currencyCode}
<br/>Fee: ${params.pendingTransaction.quote.fee} ${params.pendingTransaction.currencyCode}
<br/>ID: ${params.pendingTransaction.fulfillment}
<br/>
<br/><a id="0" href="menu/home">0. Home</a>