Select which action you would like to take:
<br/>
<br/><a id="0" href="menu/home">0. Home</a>
<br/><a id="1" href="back">1. Back</a>
<br/><a id="2" href="./name">2. Account Name</a>
<if test="!params.user.isDefault"><br/><a id="3" href="./isDefault/confirm">3. Primary account status</a></if>
