Select which action you would like to take:
<br/>
<br/><a id="0" href="menu/home">0. Home</a>
<br/><a id="1" href="back">1. Back</a>
<br/><a id="2" href="./isDefault/confirm">2. Primary account status</a>
<br/><a id="3" href="./name">3. Account Name</a>
