Destination name: ${params.transfer.destinationName}<br/>
<br/>Enter ${params.transfer.destinationCurrency} amount:
<a id="*" href="../confirm?proceed=1"></a>
<br/>
<br/><a id="0" href="menu/home">0. Home</a>