Transfer request sent !
<br/><br/>Status: ${params.transfer.status}
<br/>Destination: ${params.transfer.destinationName}
<br/>Amount: ${params.transfer.destinationAmount} ${params.transfer.destinationCurrency}
<br/>Local fee: ${params.transfer.quote.fee}
<br/>ID: ${params.transfer.fulfillment}
<br/><a id="0" href="menu/home">0. Home</a>
