Transfer successful !
<br/><br/>
Destination: ${params.destinationName}<br/>
Amount: ${params.destinationAmount} ${params.destinationCurrency}<br/>
ID: ${params.fulfillment}<br/>
<a id="0" href="menu/home">0. Main menu</a>
