Enter your existing user number or press 1 to skip and automatically generate a new one:
<a id="*" href="../firstName?proceed=0"></a>
<br/><a id="1" href="../firstName?skip=1">1. Skip</a>
<br/><a id="0" href="back">0. Back</a>