Select which action you would like to take:
<br/>
<br/><a id="0" href="menu/home">0. Home</a>
<br/><a id="1" href="../add/name">1. Add account</a>
<br/><a id="2" href="../edit">2. Edit account</a>
<br/><a id="3" href="../close">3. Close account</a>
<br/><a id="4" href="../info">4. Account info</a>
