Cash out successful !
<br/><br/>Status: ${params.cashout.status}
<br/>Source: ${params.cashout.senderName}
<br/>Amount: ${params.cashout.destinationAmount} ${params.cashout.destinationCurrency}
<br/>Local fee: ${params.cashout.fee}
<br/>ID: ${params.cashout.fulfillment}
<br/><a id="0" href="menu/home">0. Home</a>
