Manage Phone
<br/>
<br/><a id="1" href="../user/add/checkPin">1. Add User</a>
<if test="!params.context.isPrimaryDFSP"><br/><a id="2" href="./changeDFSP">2. Set As Primary DFSP</a></if>
<br/>
<br/><a id="0" href="menu/home">0. Home</a>
