Destination name: ${params.cashin.destinationName}<br/>
<br/>Enter ${params.cashin.destinationCurrency} amount:
<a id="*" href="../confirm?proceed=1"></a>
<br/>
<br/><a id="0" href="menu/home">0. Home</a>
<br/><a id="1" href="back">1. Back</a>