Destination name: ${params.cashOut.destinationName}<br/>
<br/>Enter ${params.user.currencyCode} amount:
<if test="false"><a id="*" href="../confirm?proceed=1"></a></if>
<else><a id="*" href="../execute?proceed=1"></a></else>
<br/>
<br/><a id="0" href="menu/home">0. Home</a>
<br/><a id="1" href="back">1. Back</a>