Destination name: ${params.invoice.destinationName}
<br/>Amount: ${params.invoice.destinationAmount} ${params.invoice.destinationCurrency}
<br/><a id="*" href="../execute">Enter PIN to confirm</a>
<a id="*" href="../execute?proceed=1"></a>
<br/>
<br/><a id="0" href="menu/home">0. Main menu</a>
<br/><a id="1" href="back">1. Back</a>